<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.Office" version="2.15" targetFramework="net47" />
  <package id="FreeSpire.Presentation" version="2.1" targetFramework="net47" />
  <package id="MathNet.Numerics" version="4.4.0" targetFramework="net47" />
  <package id="MathNet.Numerics.Signed" version="3.20.2" targetFramework="net47" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net47" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net47" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net47" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net47" />
</packages>